<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/task     
    http://www.springframework.org/schema/task/spring-task-3.0.xsd"
	default-lazy-init="true">
	
<!--     <bean id="jobFactory" class="com.gkys.service.job.factory.MyJobFactory"/> -->
	<!-- Quartz Scheduler, with pre-registered triggers -->
	<bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="true">
<!-- 		<property name="jobFactory" ref="jobFactory"/>   -->
		<property name="autoStartup" value="true" />
		<property name="startupDelay" value="10" />
	</bean>

	<!-- 设备管理任务 
 	<bean id="taskDeviceManagement" class="com.gkgd.core.task.TaskDeviceManagement"></bean>
 	<task:scheduled-tasks> 
 		<task:scheduled ref="taskDeviceManagement" method="getPositionInformation" cron="0 0/2 * * * ?" />
		<task:scheduled ref="taskDeviceManagement" method="getConfigInformation" cron="0 0/2 * * * ?" />
 	</task:scheduled-tasks> -->
</beans>
