<div class="content-header">
	<h2 class="content-title">模型管理</h2>
	<span class="layui-breadcrumb">
	  <a href="#!home">首页</a>
	  <a><cite>模型管理</cite></a>
	</span>
</div>

<div>
	<div class="layui-form toolbar">
		搜索：
		<select id="searchKey">
			<option value="">-请选择-</option>
			<option value="name">名称</option>
			<option value="key" selected>key</option>
		</select>&emsp;
		<input id="searchValue" class="layui-input search-input" type="text" placeholder="输入搜索内容" />&emsp;
		<button id="searchBtn" class="layui-btn search-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
		<button id="addBtn" class="layui-btn search-btn"><i class="layui-icon">&#xe654;</i>添加</button>
	</div>
	<!-- 数据表格 -->
	<table class="layui-table" id="table" lay-filter="table"></table>
</div>

<!-- 表单弹窗 -->
<script type="text/html" id="addModel">
<div class="layer-form-wapper">
	<form id="editForm" class="layui-form model-form" action="">
		<input name="id" type="hidden" />
		<div class="layui-form-item">
			<label class="layui-form-label">名称</label>
 			<div class="layui-input-block">
				<input name="name" placeholder="请输入名称" type="text" class="layui-input" maxlength="100" lay-verify="required" required />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">key</label>
 			<div class="layui-input-block">
				<input name="key" placeholder="请输入key" type="text" class="layui-input" maxlength="100" lay-verify="required" required />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">描述</label>
 			<div class="layui-input-block">
				<textarea name="description" placeholder="请输入描述" class="layui-textarea" maxlength="200"></textarea>
			</div>
		</div>
		<div class="layui-form-item model-form-footer">
			<button class="layui-btn layui-btn-primary" type="button" id="btnCancel">取消</button>
			<button class="layui-btn" lay-filter="btnSubmit" lay-submit>保存</button>
		</div>
	</form>
</div>
</script>
<!-- 表格操作列 -->
<script type="text/html" id="barTpl">
	<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="deploy">部署</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	<span style="margin:0 10px;">导出</span><a class="layui-btn layui-btn-xs" lay-event="exportBpmn">bpmn</a>
	<a class="layui-btn layui-btn-xs" lay-event="exportJson">json</a>
</script>
<script type="text/javascript" src="../assets/js/activity/model.js"></script>
